.latest-news {
    background: $darkblue;
    
    &__container {
        padding: 75px 5px 60px 20px;
    }

    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: fill;
    }

    picture {
        height: 100%;
    }

.latest-link {
        margin-top: 40px;
        font-size: 14px;
        font-weight: bold;
        a {
            text-decoration: none;
            color: $turquoise;
        }

    }



    h3 {
        font-size: 30.47px;
        line-height: 30.47px;
        color: $turquoise;
        font-weight: $regular;
        font-family: $Gothic;
        margin-bottom: 20px;
    }

    p {
        color: $grey;
        font-size: 13.45px;
        max-width: 510px;
        line-height: 20px;
        font-weight: $regular;

    }
}

