.latest-news {
    background: #0b1a26;

    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: fill;
    }

    picture {
        height: 100%;
    }

    .link {
        margin-top: 40px;
        font-size: 14px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $turquoise;
        }

    }

    .customize {
        padding-left: 20px;
        padding-top: 75px;
        padding-bottom: 60px;
        padding-right: 5px;
    }

    h3 {
        font-size: 30.47px;
        color: $turquoise;
        margin-bottom: 20px;
    }

    p {
        color: $grey;
        font-size: 13.45px;
        max-width: 510px;
        line-height: 20px;
        font-weight: $regular;

    }
}

