.reference {
    background : url(../images/reference.png) no-repeat fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 60px;
    .reference__para {
        color: $white;
        margin-top: 15px;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 16px;
    }
}



    .card-title {
        font-size: 20.31px;
        font-weight: $regular;
        color: #4ec1e0;
    }
    



  