.service {
    padding-top: 50px;
    padding-bottom: 60px;

    .services-item__title {
        font-size: 18px;
        line-height: 18px;
        font-weight: $bold;
        margin-top: 28px;
    }

    .service__para {
        margin-top: 30px;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 16px;
    }
    
    .service_icon {
        font-size: 25px;
    }

    
    .services-item__desc {
        margin-top: 22px;
        font-size: 14px;
        line-height: 14px;
    }
    .services-item__link {
        margin-top: 30px;
        a{
            text-decoration: none;
            color: $turquoise;
            font-size: 14px;
            font-weight: $bold;

        }
    }

}

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    color: $white;
    background-color: $turquoise;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 50px;
  
}

.services-circle {
    border: 1px solid #4ec1e0;
    margin: 5% auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

