/* Titles */
.service__title {
    font-size: 30px;
    line-height: 30px;
}
.reference__title {
    color: $white;
    font-size: 30px;
    line-height: 30px;
}

.upper {
    text-transform: uppercase;
}
