/*---------------------
  Header
-----------------------*/
.header {
  width: 100%;
  background-color: $black;
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 33px;
  } 
  
  &__link{
    list-style: none;
    z-index: 5;

  }

  .link {
    color: $grey;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    border-right: 1px solid $off-grey;
    margin-right: 10px;
    height: 31px;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      width: 1px;
      margin-left: 10px;
    }

    &:hover {
      color: $turquoise;
    }

  }

  .tel{
    color: $white;
    border-left: 1px solid $off-grey;

    &:hover {
      color: $off-white;
    }
    
    .icon {
      font-size: 14px;
      line-height: 14px;
      margin-left: 20px;
      @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 20px;
        margin-right: 10px;
        margin-left: 20px;
      }
    }
  }
}

