nav {
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    .nav-content {
        margin-top: 60px;
    }

    &.sticky{
        background: $black;
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
        .nav-logo {
         padding: 0 20px 10px 50px;
        }

    }
    @include media-breakpoint-up(lg) {
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navbar__list {
       display: none;

       @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 
        .showing & {
            top: 33px;
            left: 0;
            align-items: center;
            text-align: center;
            position: fixed;
            width: 100%;
            display: inline-block;
            background: $black;
            padding-top: 25px;
           transition: 0.5s;

        }



        .nav-item {
            list-style: none;

            @include media-breakpoint-up(lg) {

            }
            .nav-link {
                margin: 0 10px;
                text-decoration: none;
                font-size: 18px;
                color: $white;
                text-transform: capitalize;

                &::after {
                    display: none;

                }

                &:hover {
                    background-color: #3a8092;
                    border-radius: 15px;
                    padding: 5px;
                    color: $white;
                    @include media-breakpoint-up(lg) {
                        background-color: #3a8092;
                        border-radius: 15px;
                        padding: 10px;
                        color: $white;
                    }
                }

            }
        }
    }

}
.active {
    color: $white;

    @include media-breakpoint-up(lg) {
        background-color: #3a8092;
        border-radius: 15px;
        padding: 10px;
        color: $white;
    }
}
.icon-bar {
    position: absolute;
    color: $turquoise;
    font-size: 1.9em;
    top: 0;
    margin-top: 60px;
    right: 50px;
    @include media-breakpoint-up(lg) {
        display: none;

    }
}

// .navbar {
//     margin-top: 60px;

//     &.sticky {
//         margin-top: 0;
//         background: $black;
//     }
// }

// .active {
//     background-color: #3a8092;
//     border-radius: 15px;
//     color: $white;
// }

// .navbar-dark {
//     .navbar-nav {
//         .nav-item {
//             padding: 10px;

//             &:hover {
//                 background-color: #3a8092;
//                 border-radius: 15px;
//                 color: $white;
//             }
//         }

//         .nav-link {
//             font-size: 18px;
//             color: $white;
//             text-transform: capitalize;
//         }
//     }
// } 